/* Write your CSS here */
.match-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e293b;
  width: 280px;
  font-family: 'Bree Serif';
  font-size: 14px;
  color: #ffffff;
  margin: 15px;
  padding: 15px;
}

.match-card-team-logo {
  width: 150px;
  height: 150px;
}

.Won {
  color: #18ed66;
}

.Lost {
  color: #e31a1a;
}
